<a href="https://colab.research.google.com/github/janvincentvallente/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Accessing the elements in the Array
animals = ["cat", "dog", "fish"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0]=", x)
print("Array[1]=", y)
print("Array[2]=", z)

Array[0]= cat
Array[1]= dog
Array[2]= fish

In [8]:
#Modifying the elements in an Array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
x = animals[0]
print("Array[0]=", x)
print(animals)

Array[0]= monkey
['monkey', 'dog', 'fish']

In [10]:
#Length of the Array
animals = ["monkey", "dog", "fish", "cat", "bird"]
v = len(animals)
print(v)

5

In [11]:
#Looping Array Elements
animals = ["monkey", "dog", "fish", "cat", "bird"]
for x in animals:
  print(x)

monkey
dog
fish
cat
bird

In [12]:
animals = ["monkey", "dog", "fish", "cat", "bird"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 bird

In [13]:
#Adding Elements in the Array
animals = ["monkey", "dog", "fish", "cat", "bird"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'bird', 'lion']

In [14]:
#Write a Python program to insert a new item ('11') before the second element in an existing array.
#Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#Removing Elements in an Array

print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]